/**
 * Fonts
*/

@font-face {
  font-family: 'DINP-R';
  src: url("../fonts/DINPro-Regular.eot?") format("eot"),
  url("../fonts/DINPro-Regular.woff") format("woff"),
  url("../fonts/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
}

@import url(//db.onlinewebfonts.com/c/9e181d5234a603164e4c5da9d22e6fbf?family=Linearicons-Free);
