/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

p{
    font-family: Muli;
    font-size: 14px;
}

header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    height: 80px;
    background-color: red;

    .nav{
        display: flex;
        width: 100%;
        flex-direction: column;

        .nav__upper{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            color: rgb(255, 255, 255);
            font-family: Linearicons-Free;
            background-color: rgba(0,0,0,0.3);
            height: 30px;
            padding-top: 5px;
            p{
                padding-right: 10px;
            }
            a{
                padding-right: 5vw;
            }
        }

        .nav__links{
            display: flex;
            flex-direction: row;
            color: white;
            background-color: blue;
        }
    }

  

   
}

.nav__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        width: 80%;
        flex-direction: row;
        li{
            padding-left: 20px;
        }
    }
}


main{
    grid-area: main;
}

footer{
    grid-area: footer;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }