/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

h1{
    font-family: Muli;
    font-size: 30px;
}

p{
    font-family: Muli;
    font-size: 14px;
}

header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    height: auto;
    .nav{
        position: absolute;
        display: flex;
        width: 100%;
        flex-direction: column;


        .nav__upper{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            color: rgb(255, 255, 255);
            font-family: Linearicons-Free;
            background-color: rgb(46, 46, 46);
            height: 30px;
            padding-top: 5px;
            p{
                padding-inline-end: 1em;
            }
            a{
                padding-inline-end: 5vw;
            }
        }

        .nav__links{
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: white;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.6012605725884104) 0%, rgba(0,0,0,0) 100%);
            img{
                margin-block-start: 20px;
                height: 61px;
                width: 50px;
                margin-inline-end: 48px;
            }
            li{
                font-family: Muli;
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}
 

.nav__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        li{
            padding-inline-end: 2em;
           
        }
    }
}


main{
    grid-area: main;
    background-color: aquamarine;
    height: auto;
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 110vh;
        background-image: url("../images/Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        .hero__text{
            width: 60vw;
            text-align: center;
            padding-block-end: 80px;
            p{
                padding: 1em;
            }
        }
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "cult dis"
        "com  dis"
        "edu edu"
        "sal hue"
        ;
        height: 100vh;
        color: white;
        background-color: red;

        div{
            padding-inline: 4em;
            padding-block: 3.5em;
            p{
                font-size: 16px;
            }
        }

      
        #grid__cul{
            grid-area: cult;
            background-color: #F2BA34;
        }
        #grid__dis{
            grid-area: dis;
            background-color: #4B4773;
        }
        #grid__com{
            grid-area: com;
            background-color: #1BB0AF;
        }
        #grid__edu{
            grid-area: edu;
            background-color: #D03B81;
        }
        #grid__sal{
            grid-area: sal;
            background-color: #E44E55;
        }
        #grid__hue{
            grid-area: hue;
            background-color: #80BE41;
        }

    }
}


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 60vh;
    grid-area: contact;

    form {
        font-family: Muli;
        font-size: 14px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        input{
            height: 20px;
            border: 0.51px solid rgba(68,68,68,0.2);
            border-radius: 4px;
        }
        .full-width{

            input{
                width: 30em;
                border: 0.51px solid rgba(68,68,68,0.2);
                border-radius: 4px;
            }
            textarea{
                width: 100%;
                border: 0.51px solid rgba(68,68,68,0.2);
                border-radius: 4px;
            }
        }

        .half-width{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
      }

    .contact__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 60%;

        h2{
            color: #D3106C;
            font-size: 30px;
            font-family: Muli;
            font-weight: 50;
        }
     
    }
   
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "contact contact contact contact"
      "footer footer footer footer";
}